<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Books</title>
</head>
<body>
<h3>Add book</h3>
<form action="/add-book" method="post">
    Title:
    <input type="text" name="title"/>
    Author:
    <input type="text" name="author"/>
    ISBN:
    <input type="text" name="isbn"/>
    <input type="submit" value="Save"/>
</form>

<h3>Books</h3>
<table>
    <thead>
    <th>Title</th>
    <th></th>
    <th>Author</th>
    <th></th>
    <th>ISBN</th>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.title}"></td>
        <td></td>
        <td th:text="${book.author}"></td>
        <td></td>
        <td th:text="${book.isbn}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
